* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #5eb1c8, #A8D5E2);
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#container {
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#weather-img {
    display: flex;
    justify-content: center;
}

#weather-img img {
    width: 50%;
}

#temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    font-size: 6em;
}

#localisation-weather-status {
    display: flex;
    flex: 1;
}

#localisation-date {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
}

#localisation {
    font-weight: bold;
    font-size: 1.5em;
}

#weather-status {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 1.5em;
    text-align: end;
    text-transform: capitalize;
}

#hours-container {
    margin: 40px 0px;
    flex: 3;
    display: flex;
    flex-direction: row;
    border-top: solid white 1px;
}

.hours {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hours-elements {
    margin-top: 15px;
    font-size: 1.3em;
}

.weather-status-logo {
    width: 100%;
}

@media screen and (max-width: 990px) {
    #container {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    #container {
        width: 100%;
    }
}